     <script type="text/ng-template" id="modalBano.html">
            <div ng-include="'tpl/modalBano.html'"></div>
          </script>
           <script type="text/ng-template" id="modalDeposito.html">
            <div ng-include="'tpl/modalDeposito.html'"></div>
          </script>
           <script type="text/ng-template" id="modalAlimento.html">
            <div ng-include="'tpl/modalAlimento.html'"></div>
          </script>
           <script type="text/ng-template" id="modalListadoAlimentos.html">
            <div ng-include="'tpl/modalListadoAlimentos.html'"></div>
          </script>


      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
         <!--  <i class="fa fa-btc"></i>
          <img src="img/logot.png" alt="." class="hide"> -->
         <!--  <span class="hidden-folded m-l-xs">{{app.name}}</span> --><img src="img/logo.png" alt="."> 
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
          </a>
          <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a>
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
          <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <span><i class="fa fa-bolt text-success " tooltip-placement="bottom" tooltip="Accesos rapidos a operaciones"></i></span> 
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white" ng-controller="FlotChartDemoCtrl">
              <div class="row">
                <div class="col-sm-4">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">Operaciones Cuenta de ahorro <!-- <span class="badge badge-sm bg-success">10</span> --></div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a ng-click="openDeposito()"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Registrar depósito</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Registar retiro</a>
                        </li>
                        
                      </ul>
                    </div>
                    
                  </div>
                </div>
                <div class="col-sm-4" >
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">Operaciones de crédito <!-- <span class="badge badge-sm bg-primary">10</span> --></div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a ng-click="openBano()"><i class="fa fa-fw fa-angle-right text-muted m-r-xs" ></i>Registrar nueva solicitud</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Registrar pago</a>
                        </li>
                        
                        
                      </ul>
                    </div>
                    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">Operaciones CCP <!-- <span class="badge badge-sm bg-danger">13</span> --></div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a ng-click="openAlimento()"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Registrar compra o traspaso de CCP</a>
                        </li>
                        <!-- <li>
                          <a ng-click="openListadoAlimentos()"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Ver listado</a>
                        </li> -->
                        
                      </ul>
                    </div>
                    
                  </div>
                </div>
                 <div class="col-sm-4">
                 <!--  <div class="m-l-xs m-t-xs m-b-xs font-bold">Tipos de Medicamento

 <button class="btn btn-dark btn-xs" tooltip-placement="bottom" tooltip="Ver listado"><i class="fa fa-bars"></i></button>
                           <button class="btn btn-xs btn-default" tooltip-placement="bottom" tooltip="Agregar tipo de baño">
          <i class="fa fa-plus text"></i>
         
        </button>
                  </div> -->
                
                </div>
                <div class="col-sm-4">
                 <!--  <div class="m-l-xs m-t-xs m-b-xs font-bold">Tipos de Baños

 <button class="btn btn-dark btn-xs" tooltip-placement="bottom" tooltip="Ver listado"><i class="fa fa-bars"></i></button>
                           <button class="btn btn-xs btn-default" tooltip-placement="bottom" tooltip="Agregar tipo de baño">
          <i class="fa fa-plus text"></i>
         
        </button>
                  </div> -->
                
                </div>
                <div class="col-sm-4">
                 <!--  <div class="m-l-xs m-t-xs m-b-xs font-bold">Tipos de Alimento

 <button class="btn btn-dark btn-xs" tooltip-placement="bottom" tooltip="Ver listado"><i class="fa fa-bars"></i></button>
                           <button class="btn btn-xs btn-default" tooltip-placement="bottom" tooltip="Agregar tipo de baño">
          <i class="fa fa-plus text"></i>
         
        </button>
                  </div> -->
                
                </div>
               <!--  <div class="col-sm-4 b-l b-light">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">Baños <span class="label label-sm bg-primary">12</span></div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Buttons</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Icons <span class="badge badge-sm bg-warning">1000+</span></a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Grid</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Widgets</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Bootstap</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sortable</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Portlet</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Timeline</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> -->
               <!--  <div class="col-sm-4 b-l b-light">
                  <div class="m-l-xs m-t-xs m-b-sm font-bold">Analysis</div>
                  <div class="text-center">
                    <div class="inline">
                      <div ui-jq="easyPieChart" ui-options="{
                          percent: 65,
                          lineWidth: 50,
                          trackColor: '{{app.color.light}}',
                          barColor: '{{app.color.info}}',
                          scaleColor: false,
                          size: 100,
                          rotate: 90,
                          lineCap: 'butt',
                          animate: 2000
                        }">
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </li>
        <!--   <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
          
<i class="icon icon-magic-wand " tooltip-placement="bottom" tooltip="Acciones rapidas"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" translate="header.navbar.new.PARTO">Parto</a></li>
              <li>
                <a href>
                  <span class="badge bg-info pull-right">5</span>
                  <span translate="header.navbar.new.ANIMAL">Animal</span>
                </a>
              </li>
            
              <li>
                <a href>
                  <span class="badge bg-danger pull-right">4</span>
                  <span translate="header.navbar.new.SALTO">Salto</span>
                </a>
              </li>
            </ul>
          </li> -->
        </ul>
        <!-- / link and dropdown -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">
          <div class="form-group">
            <div class="input-group" ng-show="$state.includes('app.dashboard-v1')">
              <input type="text" ng-model="selected" 

              typeahead="item as item.cedula for item in items2 | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Buscar socio por C.I...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="selectItem3(selected)"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
          <li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>
          
            <!-- / dropdown -->
          </li>
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/User_Circle.png" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">{{app.usuario}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                  <!-- <p>300mb of 500mb used</p> -->
                </div>
                <progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>
              </li>
             <!--  <li>
                <a ui-sref="app.form.ajustes"> -->
              <!--     <span class="badge bg-danger pull-right">30%</span> -->
                 <!--  <span>Ajustes</span> -->
               <!--  </a>
              </li> -->
              <!-- <li>
                <a ui-sref="app.page.profile">Profile</a>
              </li>
              <li>
                <a ui-sref="app.docs">
                  <span class="label bg-info pull-right">new</span>
                  Help
                </a>
              </li> -->
              <li class="divider"></li>
              <li>
                <a ui-sref="access.signin">Cerrar sessión</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->